* {
    margin: 0%;
    font-family: Georgia, "Times New Roman", Times, serif;

}

header {
    width: 100%;
    min-height: 116px;
    background-color: #333333;
    display: flex;
    /* flex-flow: row wrap; */
    justify-content: center;
    align-items: center;
}

.header-container {
    /* border: 2px solid green; */
    width: 960px;
    display: flex;
    justify-content: space-between;
    /* height: 35px; */


}

.text-container {
    color: #C0BAB6;
    /* border: 2px solid red; */
}

.link-container {
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    min-width: 55%;
    background-color: black;
    display: flex;
    justify-content: space-evenly;

}

.link-container>a {
    color: #C0BAB6;
}

.link-container>a:hover {
    color: orange;
}


/*================================================================ */

section {
    /* width: auto 960px; */
    margin: 0 auto;
    max-width: 960px;
}

.section1 {
    background-color: #333333;
    color: #C0BAB6;
    /* border: 2px solid red; */
    height: 360px;
    margin-top: 30px;
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.section2 {
    display: flex;
    flex-flow: row wrap;
    margin-top: 30px;
    justify-content: space-between;

}

.section2>div {
    max-width: 290px;
}

.section2>div>div {
    background-color: #333333;
    border: 5px groove white;
    height: 180px;
    color: #C0BAB6;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;

}

.section2>div>p {
    color: #979797;
}

.section2>div>a {
    color: orange;
    float: right;
    font-size: 14px;
}

.section2>div>div+p {
    font-size: 14px;
    font-weight: bold;
}

.section2>div>p+p {
    font-size: 13px;
    margin: 13px 0px;
}

/* ============================================================================= */

.section3 {
    margin-top: 30px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;


}

.section3>.left-item {
    /* border: 2px solid red; */
    color: #979797;
    width: 460px;
}

.section3>.left-item a {
    color: orange;
}

.section3>.left-item>.para {
    margin-right: 20px;
}

.section3>.left-item>.para>#p1 {
    font-size: 32px;
}

.section3>.left-item>.para>#p2 {
    margin: 13px 0;
    font-size: 13px;
}


.section3>.left-item>.para>p+p+p {
    margin: 13px 0;
}

.section3>.left-item>a {
    float: right;
    font-size: 13px;
}

.section3>.right-item {
    min-width: 450px;
    height: 250px;
    background-color: #333333;
    color: #C0BAB6;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px groove white;
}

/* ====================================================================================== */

footer {
    margin-top: 30px;
    width: 100%;
}

footer>.top {

    background-color: #333333;
    /* border: 2px solid red; */



}

footer>.top>.block-container {
    padding: 30px;
    margin: 0 auto;

                                      
    /* width: 65%; */         /* width is imp for responsive */
    max-width: 960px;
    /* width: 960px; */

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    /* border: 2px solid red; */

}

footer>.top>div p {
    color: white;
    font-size: 13px;
    margin-bottom: 25px;
}

footer>.top>div a{

    display: inline-block;  /*  on the a tag the margin doesn't work because it's an inline element. You may need to change its display property to inline-block or block.*/
    margin-bottom: 10px;
    /* margin: 30px; */

    
    color: orange;
    font-size: 12px;
    /* border: 2px solid red; */
    border-bottom: 1px dashed #C0BAB6;


}





footer>.bottom {
    background-color: black;


}

footer>.bottom>.text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;
    margin: 0 auto;
    max-width: 960px;
    /* border: 2px solid red; */
    color: #979797;
    font-size: 13px;
}

footer>.bottom>.text a {
    color: #979797;
}





